body{
    margin: 0px;
    padding: 0px;
    background: rgb(48,2,2);
    background: linear-gradient(90deg, rgba(48,2,2,1) 0%,
     rgba(205,27,13,1) 48%, rgba(96,8,21,1) 100%);
    width: 100vw;
    height: 100vh;
    font-family: 'Ubuntu Condensed', sans-serif;
    flex-direction: column;
    justify-content: flex-end;
}

header{
    max-width: inherit;
    max-height: 10%;
    height: 15vh;
    border: 1px solid red;
    align-items: center;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: left;
    align-items: center;
    margin-left: 10px;
}

div p{
    text-align: center;
}

div h3{
    font-size: 40px;
}

#troistier{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.untier{
    max-width: 33%;
    width: 33%;
    border: 1px solid green;
}
aside{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
}

input{
    background-color: gray;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#divcentre{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
input{
    background-color: rgb(145, 18, 18);
    color: white;
}

input:hover{
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
}

footer{
    border: 1px solid red;
    height: 5vh;
    text-align: center;
}